* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#fade-overlay {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease;
  z-index: 9999;
}
#fade-overlay.active {
  opacity: 1;
}
h1 {
    font-size: 8rem;
    display: none;
    position: absolute;
    z-index: 99999;
    left: 30%;
    top: 30%;
    color: rgb(82, 6, 6);
}

#complete {
    font-size: 8rem;
    display: none;
    position: absolute;
    z-index: 99999;
    left: 25%;
    top: 30%;
    color: rgb(3, 81, 15);
}

section {
    height: 80%;
    width: 60%;
    background-color: lightblue;
    border: 10px gray solid;
}
#freddy-img {
    height: 90%;
    width: 85%;
    position: absolute;
    align-self: center;
    justify-self: center;
    animation: jumpscare 0.3s ease-in-out forwards;
}
#scraptrap-img {
    height: 80%;
    width: 80%;
    position: absolute;
    align-self: center;
    justify-self: center;
    animation: jumpscare 0.3s ease-in-out forwards;
}

#scrapbaby-img {
    height: 85%;
    width: 60%;
    position: absolute;
    align-self: center;
    justify-self: center;
    animation: jumpscare 0.3s ease-in-out forwards;
}

#lefty-img {
    height: 80%;
    width: 80%;
    position: absolute;
    align-self: center;
    justify-self: center;
    animation: jumpscare 0.3s ease-in-out forwards;
}

@keyframes jumpscare {
    0% {
        transform: translate(0px,0px);
    }
    50% {
        transform: translateX(50px,-20px);
    }
    100% {
        transform: translate(50px, -20px );
    }
}
#fan-button {
    position: absolute;
    top: 80%;
    left: 23%;
    height: 50px;
    background-color: gray;
    cursor: pointer;

}
#fan-button img {
    height: 50px;
}
#power-button {
    position: absolute;
    top: 80%;
    left: 73%;
    height: 50px;
    background-color: green;
    cursor: pointer;
}
#temp {
    position: absolute;
    bottom: 95%;
    right: 85%;
    font-size: 2rem;
    color: white;
}

#options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
#options button {
    height: 2rem;
    width: 10rem;
    border: 3px black solid;
    cursor: pointer
        
}
#option-output {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loader {
  width: 15px;              /* adjust as needed */
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tasks {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20%;
}

.tasks button {
    height: 2.5rem;
    width: 8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
    border: 2px solid black;
    cursor: pointer;
}
#log {
    display: none;
    height: 3rem;
    width: 12rem;
    background-color: black;
    color: white;
    border: white 2px solid;
    cursor: pointer;
}

#map {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding-top: 10px;


}
#map > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: whitesmoke solid 2px;
}

.animatronic {
    height: 30px;
    width: 30px;
    background-color: red; 
    border: black 2px solid;
    border-radius: 50%;
}

#vent-1 {
    grid-area: 1/1/2/3;
}

#vent-2 {
    grid-area: 1/3/2/5;
}
#vent-3 {
    grid-area: 1/5/2/7;
}
#vent-4 {
    grid-area: 1/7/2/9;
}
#vent-5 {
    grid-area: 1/9/2/11;
}
#vent-6 {
    grid-area: 2/1/3/3;
}
#vent-7 {
    grid-area: 2/3/3/5;
}
#pizzeria {
    grid-area: 2/5/5/7;
}
#player {
    height: 30px;
    width: 30px;
    background-color: blanchedalmond; 
    border: black 2px solid;
    border-radius: 50%;
    align-self: self-end;
}
#vent-8 {
    grid-area: 2/7/3/9;
}
#vent-9 {
    grid-area: 2/9/3/11;
}
#vent-10 {
    grid-area: 3/1/4/3;
}
#vent-11 {
    grid-area: 3/3/4/5;
}
#vent-12 {
    grid-area: 3/7/4/9;
}
#vent-13 {
    grid-area: 3/9/4/11;
}
#vent-14 {
    grid-area: 4/1/5/3;
}
#vent-15 {
    grid-area: 4/3/5/5;
}
#vent-16 {
    grid-area: 4/7/5/9;
}
#vent-17 {
    grid-area: 4/9/5/11;
}

#sound-lure-button {
    height: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px black solid;
    cursor: pointer;
    transition: 0.4s none;
   
}
#sound-lure-button:hover {
    transform: scale(1.1);
}
#success {
    color: green;
    display: none;
}
#silent-vent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#silent-vent img {
    height: 70%;
}
#silent-vent button {
    height: 2rem;
    padding: 5px 15px;
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.4s none;
} 

#silent-vent button:hover {
    transform: scale(1.1);
}