@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Libre Baskerville;
}
header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: rgb(115, 6, 6);
    color: white;
}
main {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    button {
        height: 3rem;
        width: 16rem;
        background-color: rgb(115, 6, 6);
        border: 2px solid yellow;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        transition: none 0.3s;
    }
    button:hover {
        box-shadow: 0px 0px 15px white;
    }
}
footer {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(115, 6, 6);
    color: white;

}
